<section id="one" class="wrapper style2 special">
        <div class="container">
            <header>
                <h2>Meet The Authors</h2>
                <!--<p>This blog covers topics in programming and computer science.</p>-->
            </header>
            <div class="row 200%">
                <section class="6u 12u$(small)">
                    <div class="image rounded"><img src="{{site.baseurl}}/images/user2.jpg" alt="" width="250" height="250" />Nina Medić</div>
                    <p>Hi, my name is Nina and I am a master student of Computer Science in Novi Sad, Serbia. 
                    As a part in one of my classes I was introduced to Pharo world. 
                    The simplicity of the language and user friendly environment invited me to explore it more. 
                    Now I am a member of Pharo community and the team that is working on improving it.</p>

                    <ul class="icons">
                        <!--<li><a href="#" class="icon fa-facebook">
                            <span class="label">Facebook</span>
                        </a></li>-->
                        <li><a href="https://twitter.com/medicka992" class="icon fa-twitter">
                            <span class="label">Twitter</span>
                        </a></li>
                        <li><a href="https://github.com/medicka" class="icon fa-github">
                            <span class="label">Instagram</span>
                        </a></li>
                    </ul>

                </section>
                <section class="6u 12u$(small)">
                    <div class="image rounded"><img src="{{site.baseurl}}/images/user1.jpeg" alt="" width="250" height="250" />Smiljana Knežev</div>
                    <p>Hi, my name is Smiljana Knežev and I am a final year undergraduate student at the Faculty of Sciences, University of Novi Sad.
                    I am doing my studies in Informatics - Information Technologies, and I am very interested in Objected-Oriented design and functional and distributed programming.
                    I am very passionate about Pharo and theoretical computer science and find it very interesting. 
                    </p> 

                    <ul class="icons">
                        <!--<li><a href="https://www.facebook.com/smiljana.knezev" class="icon fa-facebook">
                            <span class="label">Facebook</span>
                        </a></li>-->
                        <li><a href="https://twitter.com/KnezevSmiljana" class="icon fa-twitter">
                            <span class="label">Twitter</span>
                        </a></li>
                        <li><a href="https://github.com/SmiljanaKnezev" class="icon fa-github">
                            <span class="label">Instagram</span>
                        </a></li>
                    </ul>
                </section>
            </div>
        </div>
</section>