<!-- Header -->
<header id="header" {% if page.url == '{{sites.baseurl}}/index' %} class="alt" {% endif %}>
    <h1><a href="{{sites.baseurl}}/index.html">Pharokeepers</a></h1>
    <a href="#nav">Menu</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="{{sites.baseurl}}/index.html">Home</a></li>
        <li><a href="{{sites.baseurl}}/generic.html">Generic</a></li>
        <li><a href="{{sites.baseurl}}/elements.html">Elements</a></li>
        <li><a href="{{sites.baseurl}}/about">About</a></li>
    </ul>
    {% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

</nav>
