---
layout: default
pagination: 
  enabled: true
---

    {% include banner.html %}
    
    {{ content }}

	<section id="one" class="wrapper style1">
		<div class="inner">

                <!-- 
                    Here is the main paginator logic called.
                    All calls to site.posts should be replaced by paginator.posts 
                -->
                {%assign odd = true %}
                {% for post in paginator.posts %}
                <article class= {% if odd %} "feature left" {% assign odd = false %} {% else %} "feature right" {% assign odd = true %} {% endif %}>
                    <span class="image"><img src="{{site.baseurl}}/images/{{post.img}}"></span>
                    <div class="content">
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}, by {% case post.author %} {% when 'smi' %} Smiljana Knežev {% when 'nm' %} Nina Medić {% else %} Anonymous {% endcase %} </span>
                        <h2>{{post.title}}</h2>
                        <p>{{post.excerpt}}</p>
                        <ul class="actions">
                            <li>
                                <a href="{{post.url}}" class="button alt">Read More</a>
                            </li>
                        </ul>
                    </div>
                </article>
                
                {% endfor %}
                    
            
            <!-- 
                Showing buttons to move to the next and to the previous list of posts (pager buttons).
            -->
            <div style="text-align:center" class="actions pagination">
                <!--<ul class="pagination pagination-lg">-->
                    {% if paginator.previous_page %}
                    <!--<li class="page-item">-->
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
                    <!--</li>-->
                    {% endif %}
                    {% if paginator.page_trail %}
                    {% for trail in paginator.page_trail %}
                        <!--<li {% if page.url == trail.path %}class="page-item"{% endif %}>-->
                            <a {% if page.url == trail.path %}class="active"{% endif %} href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                        <!--</li>-->
                    {% endfor %}
                    {% if paginator.next_page %}
                    <!--<li class="page-item">-->
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
                    <!--</li>-->
                    {% endif %}
                    {% endif %}
                <!--</ul>-->
            </div>
        </div>
        </section>
				
				

		

		

